<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
            <div class="col-12 col-md3 col-lg-12 text-center">
            <p class="white eerste">Copyright © | 2018 | Leefboerderij Suskewiet VZW | All rights reserved |</p>
            <p class="white">In samenwerking met Elise Boxstaele en Arteveldehogeschool | Academiejaar 2017-2018 |</p> 
            <p class="white">Ons e-mailadres is suskewiet.zwalm@gmail.com</p>

            <p class="white">Ons e-mailadres is:</p>
            <p class="white laatste">berten.vandriessche@gmail.com</p>
            </div>
            </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>